/* Login, Register page */

.formContainer{
    /* background-color: rgb(159, 212, 228); */
    background: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgb(183, 156, 156) 0%, rgb(158, 212, 220) 40%, rgb(141, 117, 146) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;  /* this centers vertically */
    justify-content: center; /* this centers horizontally */
}

.smart-header{
    width: 100%;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    position: absolute;
    top: 1vh;
}

.smart-header .smart-logo h2{
    
    font-size: 2.2rem;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: bold;
    cursor: pointer;
}
.smart-header .smart-logo h2 #smart-logo-h2{
    text-decoration: none;
    color: rgb(0, 127, 191);
}

.formContainer .formWrapper{
    
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    border: 1px solid rgba(255, 255, 255, 0.38);
    padding: 20px 40px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formContainer .formWrapper .logo{
    color: rgb(79, 166, 209);
    font-size: 2.2rem;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: bold;
}
.formContainer .formWrapper .title{
    color: rgb(91, 146, 177);
    font-size: 1.2rem;
    font-weight: bolder;
}

.formContainer .formWrapper form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formContainer .formWrapper form input{
    padding: 15px;
    border: none;
    width: 250px;
    height: 35px;
    background: rgba(255, 255, 255, 0.167);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    border-radius: 0.3rem;
}

.formContainer .formWrapper form input::placeholder{
    color: rgb(127, 150, 154);
}
.formContainer .formWrapper form input:focus{
    border: none;
    outline: none;
}

.formContainer .formWrapper form label{
    font-size: 1rem;
    color: rgb(51, 95, 113);
}
.formContainer .formWrapper form label span{
    font-size: 0.9rem;
   
}

.formContainer .formWrapper form button{
    color: rgb(255, 255, 255);
    background-color: rgb(11, 132, 196);
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
}

.formContainer .formWrapper p{
    color: rgb(47, 114, 166);
    font-size: 0.8rem;
    margin-top: 10px;
}


